.DS_Store
node_modules
dist
.env

# Remove some common IDE working directories
.idea
.vscode

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
